@font-face {
  font-family: 'iconfont';  /* project id 403069 */
  src: url('//at.alicdn.com/t/font_403069_s7078nu0m6rms4i.eot');
  src: url('//at.alicdn.com/t/font_403069_s7078nu0m6rms4i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_403069_s7078nu0m6rms4i.woff') format('woff'),
  url('//at.alicdn.com/t/font_403069_s7078nu0m6rms4i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_403069_s7078nu0m6rms4i.svg#iconfont') format('svg');
}

.cc-icon {
  font-family: 'iconfont';
  font-size:40px;
  display: block;
  color: #4f93fb;
}

/*.cc-icon:before {*/
  /*content: attr(icon);*/
/*}*/
